 <div class="widget__head">
          <p class="widget__temperature">{{round main.temp}}°</p>
          <div class="widget__main">
            <p class="widget__status"> {{weather.[0].main}}</p>
            <p class="widget__location"><img src="/geotag.92d08f57.png" alt="geo">{{name}}</p>
          </div>
        </div>
        <div class="widget__icon">
            <img class="widget__img" src="https://openweathermap.org/img/wn/{{weather.[0].icon}}@2x.png" alt="{{weather.[0].main}}">
        </div>